In [43]:
import pandas as pd

In [44]:
data=pd.read_csv( r"C:\Users\Lenovo\Muskan\Ml\final project\ass2\Churn_Modelling.csv")

In [45]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42.0,2,0.00,1,1.0,1.0,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41.0,1,83807.86,1,0.0,1.0,112542.58,0
2,3,15619304,Onio,502,France,Female,42.0,8,159660.80,3,1.0,0.0,113931.57,1
3,4,15701354,Boni,699,France,Female,39.0,1,0.00,2,0.0,0.0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43.0,2,125510.82,1,NaN,1.0,79084.10,0

In [46]:
data.shape

(10002, 14)

In [47]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10002 entries, 0 to 10001
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10002 non-null  int64
 1   CustomerId       10002 non-null  int64
 2   Surname          10002 non-null  object
 3   CreditScore      10002 non-null  int64
 4   Geography        10001 non-null  object
 5   Gender           10002 non-null  object
 6   Age              10001 non-null  float64
 7   Tenure           10002 non-null  int64
 8   Balance          10002 non-null  float64
 9   NumOfProducts    10002 non-null  int64
 10  HasCrCard        10001 non-null  float64
 11  IsActiveMember   10001 non-null  float64
 12  EstimatedSalary  10002 non-null  float64
 13  Exited           10002 non-null  int64
dtypes: float64(5), int64(6), object(3)
memory usage: 1.1+ MB

**Removing unrelevent columns**

In [48]:
data=data.drop(['Surname'],axis=1)

In [49]:
data.drop(['CustomerId'],axis=1,inplace=True)

**Handling nan values**

In [50]:
data.isna().sum()

RowNumber          0
CreditScore        0
Geography          1
Gender             0
Age                1
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          1
IsActiveMember     1
EstimatedSalary    0
Exited             0
dtype: int64

In [51]:
data=data.dropna(axis=0)
data=data.drop("RowNumber",axis=1)

In [52]:
data.isna().sum()

CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [53]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9998 entries, 0 to 10001
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      9998 non-null   int64
 1   Geography        9998 non-null   object
 2   Gender           9998 non-null   object
 3   Age              9998 non-null   float64
 4   Tenure           9998 non-null   int64
 5   Balance          9998 non-null   float64
 6   NumOfProducts    9998 non-null   int64
 7   HasCrCard        9998 non-null   float64
 8   IsActiveMember   9998 non-null   float64
 9   EstimatedSalary  9998 non-null   float64
 10  Exited           9998 non-null   int64
dtypes: float64(5), int64(4), object(2)
memory usage: 937.3+ KB

**Normalizing the data**

In [54]:
from sklearn import preprocessing
from sklearn.preprocessing import MinMaxScaler 
scaler= MinMaxScaler()

In [55]:
data.describe()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,9998.000000,9998.000000,9998.000000,9998.000000,9998.000000,9998.000000,9998.000000,9998.000000,9998.000000
mean,650.529606,38.920287,5.013003,76481.490819,1.530206,0.705541,0.514803,100099.786455,0.203841
std,96.633003,10.487986,2.892152,62393.187035,0.581669,0.455822,0.499806,57510.939962,0.402872
min,350.000000,18.000000,0.000000,0.000000,1.000000,0.000000,0.000000,11.580000,0.000000
25%,584.000000,32.000000,3.000000,0.000000,1.000000,0.000000,0.000000,50983.750000,0.000000
50%,652.000000,37.000000,5.000000,97173.290000,1.000000,1.000000,1.000000,100218.210000,0.000000
75%,718.000000,44.000000,7.000000,127641.417500,2.000000,1.000000,1.000000,149395.882500,0.000000
max,850.000000,92.000000,10.000000,250898.090000,4.000000,1.000000,1.000000,199992.480000,1.000000

In [56]:
#|for the model required encoding and normalized data
df=data

In [57]:
df['CreditScore']=scaler.fit_transform(df[['CreditScore']])
df['Age']=scaler.fit_transform(df[['Age']])
df['Balance']=scaler.fit_transform(df[['Balance']])
df['EstimatedSalary']=scaler.fit_transform(df[['EstimatedSalary']])

In [58]:
df.describe()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,9998.000000,9998.000000,9998.000000,9998.000000,9998.000000,9998.000000,9998.000000,9998.000000,9998.000000
mean,0.601059,0.282707,5.013003,0.304831,1.530206,0.705541,0.514803,0.500489,0.203841
std,0.193266,0.141730,2.892152,0.248679,0.581669,0.455822,0.499806,0.287582,0.402872
min,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,0.468000,0.189189,3.000000,0.000000,1.000000,0.000000,0.000000,0.254885,0.000000
50%,0.604000,0.256757,5.000000,0.387302,1.000000,1.000000,1.000000,0.501081,0.000000
75%,0.736000,0.351351,7.000000,0.508738,2.000000,1.000000,1.000000,0.746993,0.000000
max,1.000000,1.000000,10.000000,1.000000,4.000000,1.000000,1.000000,1.000000,1.000000

**Encoding the data**

In [59]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,0.538,France,Female,0.324324,2,0.000000,1,1.0,1.0,0.506735,1
1,0.516,Spain,Female,0.310811,1,0.334031,1,0.0,1.0,0.562709,0
2,0.304,France,Female,0.324324,8,0.636357,3,1.0,0.0,0.569654,1
3,0.698,France,Female,0.283784,1,0.000000,2,0.0,0.0,0.469120,0
5,0.590,Spain,Male,0.351351,8,0.453394,2,1.0,0.0,0.748797,1

In [60]:
df['Geography']=df['Geography'].map({'France':0,'Spain':1,'Germany':2})
df['Gender']=df['Gender'].map({'Male':0,'Female':1})

In [61]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,0.538,0,1,0.324324,2,0.000000,1,1.0,1.0,0.506735,1
1,0.516,1,1,0.310811,1,0.334031,1,0.0,1.0,0.562709,0
2,0.304,0,1,0.324324,8,0.636357,3,1.0,0.0,0.569654,1
3,0.698,0,1,0.283784,1,0.000000,2,0.0,0.0,0.469120,0
5,0.590,1,0,0.351351,8,0.453394,2,1.0,0.0,0.748797,1

In [62]:
df['Exited'].value_counts()

Exited
0    7960
1    2038
Name: count, dtype: int64

**comparing the different models which is KNN,Bagging and boosting algorithms**

In [63]:
features=['CreditScore','Geography','Gender','Age','Tenure','Balance','NumOfProducts','HasCrCard','IsActiveMember','EstimatedSalary']
x=df[features].values
y=df['Exited'].values

In [64]:
#data without preocessing
features=['CreditScore','Geography','Gender','Age','Tenure','Balance','NumOfProducts','HasCrCard','IsActiveMember','EstimatedSalary']
X=data[features].values
Y=data['Exited'].values

In [65]:
from sklearn.model_selection import train_test_split
#for processesed data required model
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3)
#for the model which doesnot required preprocessing
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.3)

In [66]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier

In [67]:
model_KNN = KNeighborsClassifier()
model_RC =  RandomForestClassifier()
model_GB = GradientBoostingClassifier()

In [68]:
model_KNN.fit(x_train,y_train)
model_RC.fit(X_train,Y_train)
model_GB.fit(X_train,Y_train)

GradientBoostingClassifier()

In [69]:
y_pred_knn = model_KNN.predict(x_test)
y_pred_rc = model_RC.predict(X_test)
y_pred_gb = model_GB.predict(X_test)

In [70]:
from sklearn.metrics import accuracy_score

In [71]:
print("KNN accuracy: ",accuracy_score(y_test , y_pred_knn)*100)
print("Random Forest accuracy: ",accuracy_score(Y_test , y_pred_rc)*100)
print("Boosting accuracy: ",accuracy_score(Y_test , y_pred_gb)*100)

KNN accuracy:  80.30000000000001
Random Forest accuracy:  85.83333333333333
Boosting accuracy:  85.8

In [72]:
from sklearn.metrics import recall_score,precision_score,f1_score

In [73]:
#Recall
print("KNN Recall : ",recall_score(y_test,y_pred_knn)*100)
print("Random Forest Recall : ",recall_score(Y_test,y_pred_rc)*100)
print("Boosting Recall : ",recall_score(Y_test,y_pred_gb)*100)

KNN Recall :  27.22852512155591
Random Forest Recall :  44.88817891373802
Boosting Recall :  45.846645367412144

In [74]:
#precision
print("KNN precision : ",precision_score(y_test,y_pred_knn)*100)
print("Random Forest precision : ",precision_score(Y_test,y_pred_rc)*100)
print("Boosting precision : ",precision_score(Y_test,y_pred_gb)*100)

KNN precision :  54.19354838709678
Random Forest precision :  77.8393351800554
Boosting precision :  76.7379679144385

In [75]:
#F1 Score
print("KNN f1 : ",f1_score(y_test,y_pred_knn)*100)
print("Random Forest f1 : ",f1_score(Y_test,y_pred_rc)*100)
print("Boosting f1 : ",f1_score(Y_test,y_pred_gb)*100)

KNN f1 :  36.24595469255664
Random Forest f1 :  56.9402228976697
Boosting f1 :  57.4

**In this system it is found more dangerous if the customer is not exited but prediction is exited so in this case we use precision score to deside the best model among all which is Gradient Boosting Algorithm**

In [76]:
import joblib

In [77]:
pwd

'C:\\Users\\Lenovo\\Muskan\\Ml\\final project\\ass2'

In [78]:
joblib.dump(model_GB, 'Bank Customer Churn.pkl')

['Bank Customer Churn.pkl']

In [79]:
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,0.538,0,1,0.324324,2,0.000000,1,1.0,1.0,0.506735,1
1,0.516,1,1,0.310811,1,0.334031,1,0.0,1.0,0.562709,0
2,0.304,0,1,0.324324,8,0.636357,3,1.0,0.0,0.569654,1
3,0.698,0,1,0.283784,1,0.000000,2,0.0,0.0,0.469120,0
5,0.590,1,0,0.351351,8,0.453394,2,1.0,0.0,0.748797,1